#hotstring {
  height: 300px;
  width: 600px;
}

#output {
  height: 300px;
  width: 600px;
}


switch(varName) {
  case: "case1"
  
    break;
  case: "case2"
  
    break;
  case: "case3"
  
    break;
  default:
    
}